.envato-kit-63-socials .elementor-social-icon{
	box-shadow: 5px 5px 0px 0px #0f0f0f;
}

.envato-kit-63-inline-block{
	display: inline-block;
}

.envato-kit-63-quote img{
	margin-top: 7px;
}

.envato-kit-63-progress .elementor-progress-percentage{
	font-family: 'Comfortaa', sans-serif;
	font-size: 16px;
	margin-top: -36px;
}

.envato-kit-63-progress .elementor-progress-bar{
	height: 3px;
}